.header {
   background-color: #2D303A;
   @include respond-to(mobile){   
         height: 90px;     
   }
}

.header_inner {
   width: 940px;
   height: 95px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;

   @include respond-to(tablet) {
      width: 100%;
      max-width: 940px;
      overflow: hidden;
      display: block;
  }

  @include respond-to(mobile){  
      width: 100%;
      max-width: 599px;
      overflow: hidden;
      display: block;  
  }
}

.logo {
   @include respond-to(tablet) {
      text-align: center;
      margin: 15px 0;
  }
   @include respond-to(mobile) {
         text-align: center;
         margin: 15px 0;     
  }  
}


