.nav_list {
   display: flex;

   @include respond-to(mobile){
      justify-content: space-around;
   }
}

.nav_item {
   font-size: 1.2rem;
   font-weight: 700;
   line-height: 1.4rem;
   text-transform: uppercase;

   @include respond-to(mobile){
      font-size: 0.7rem;
   }
   
}

.nav_link {
   color: $color01;
   text-decoration: none;
}

.nav_item+.nav_item {
   margin-left: 32px;
   position: relative;
}

.active {
   color: $color02;
}

.nav_item+.nav_item::before {
   @include position(absolute, 5, -17);
   content: "";
   width: 3px;
   height: 3px;
   border-radius: 50%;
   background: $color03;


   @include respond-to(tablet) {
      content: "";
      position: absolute;
      top: 4px;
      left: -40px;
  }

   @include respond-to(mobile) {      
         content: "";
         position: absolute;
         top: 6px;
         left: -20px;
  }
}

.nav_link:hover {
   color: $color02;
   opacity: 0.6;
}

.nav_list {
   list-style-type: none;

   @include respond-to(tablet) {
      justify-content: space-around;
   }
}



