*,
*::after,
*::before {
   box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li {
   margin: 0;
   padding: 0;
}

.header_bar {
   background: #e2e2e2;
}

.inner {
   width: 1200px;
   margin: 0 auto;
}

.header_bar_menu {
   display: flex;
   justify-content: center;
}

.hasMenu {
   position: relative;
   list-style-type: none;
   cursor: pointer;
}

.hasMenu+.hasMenu {
   border-left: 2px dotted #b9b3b3;
}

.hasMenu:hover {
   background: #3F51B5;
}

.hasMenu:hover .submenu {
   display: block;
   white-space: nowrap;
}

.bar_menu_link {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100%;
   padding: 15px;
   text-decoration: none;
   color: #6e6767;
   text-transform: uppercase;
   font-weight: bold;
}

.bar_menu_link:hover {
   color: white;
}

.active {
   color: white;
   background: #3F51B5;
}

.submenu {
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -62px;
   background: #e2e2e2;
   list-style-type: none;
   border-radius: 0 0 5px 5px;
   display: none;
}

.submenu_item {
   position: relative;
}

.submenu_item input {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}

.submenu_link:hover {
   color: white;
   background: #3F51B5;
}

.submenu_link,
.submenu_link_inner {
   padding: 5px 10px;
   display: block;
   text-transform: capitalize;
   text-decoration: none;
   color: #6e6767;
}

.submenu_link.active,
.submenu_link_inner.active {
   background: #3F51B5;
   color: white;
}

.submenu_link_inner:hover {
   background: #3F51B5;
   color: white;
}

.link_inner {
   padding: 5px 10px;
   display: block;
   text-transform: capitalize;
   text-decoration: none;
   color: #6e6767;
}

.link_inner:hover {
   color: white;
}

.submenu_link_inner {
   display: block;
}

.submenu_item input:checked~.submenu_inner {
   display: block;
   white-space: nowrap;
}

.submenu_item input:checked~.submenu_link_inner {
   background: #3F51B5;
   color: white;
}

.submenu_inner {
   background: rgb(204, 143, 143);
   list-style-type: none;
   border-radius: 0 0 5px 5px;
   display: none;
}