@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("eot"), url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
}

.icon-avatar:before, .icon-instagram:before, .icon-menu-button:before, .icon-paypal:before, .icon-periscope:before, .icon-printer:before, .icon-settings:before {
  font-family: "iconfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-avatar:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-menu-button:before {
  content: "";
}

.icon-paypal:before {
  content: "";
}

.icon-periscope:before {
  content: "";
}

.icon-printer:before {
  content: "";
}

.icon-settings:before {
  content: "";
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.site_width, .facilities, .header_inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content_width, .banner_inner, .facilities_inner, .treatment_inners, .advantages_inner, .treating_inner, .footer_inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.banner {
  min-height: 630px;
  background: url(../../img/main_gb__1440.png) 50% 50%/cover no-repeat;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner {
    background: url(../../img/main_bg_1440.png) 50% 50%/cover no-repeat;
  }
}

.banner_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner_inner {
    display: block;
  }
}

.banner_content {
  width: 80%;
  padding-top: 70px;
}

.banner_title {
  font-weight: 500;
  font-size: 7.2rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .banner_title {
    font-size: 6rem;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner_title {
    font-size: 5.2rem;
    margin-bottom: 60px;
  }
}

.banner_description {
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .banner_description {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner_description {
    font-size: 1.4rem;
  }
}

.banner_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 50px;
  padding: 0 40px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .banner_info {
    margin-bottom: 70px;
  }
}

.banner_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .banner_list {
    display: block;
    border-left: 2px solid #177D92;
    padding-left: 35px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner_list {
    display: block;
    border-left: 2px solid #177D92;
    padding-left: 35px;
  }
}

.banner_item + .banner_item {
  padding-left: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .banner_item + .banner_item {
    padding-left: 0px;
    padding-top: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner_item + .banner_item {
    padding-left: 0px;
    padding-top: 15px;
  }
}

.banner_link {
  display: inline-block;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 158.26%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.banner_link:hover {
  color: #177D92;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner_link {
    font-size: 1.2rem;
  }
}

.banner_phone {
  margin-top: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .banner_phone {
    margin-top: 90px;
  }
}

.banner_phone_link {
  font-size: 1.6rem;
  padding: 10px 20px;
  color: #FFFFFF;
  background-color: #177D92;
}

.facilities_inner {
  margin-top: 120px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .facilities_inner {
    margin-top: 100px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .facilities_inner {
    margin-top: 80px;
  }
}

.facilities_title {
  width: 70%;
  color: #177D92;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 116%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-left: 2px solid #177D92;
  padding-left: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .facilities_title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .facilities_title {
    font-size: 2rem;
  }
}

.facilities_description {
  width: 70%;
  padding-top: 40px;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #5E5E5E;
  padding-bottom: 120px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .facilities_description span {
    color: #177D92;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .facilities_description {
    padding-bottom: 80px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .facilities_description {
    padding-bottom: 70px;
    width: 100%;
    text-align: justify;
    font-size: 1.4rem;
    line-height: 3rem;
  }
}

.facilities_list {
  padding-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .facilities_list {
    padding-top: 50px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .facilities_list {
    padding-top: 40px;
  }
}

.facilities_item {
  padding-right: 10px;
  width: 25%;
  font-weight: normal;
  font-size: 1.6rem;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #5E5E5E;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .facilities_item {
    width: 30%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .facilities_item {
    font-size: 1.4rem;
    width: 50%;
  }
}

.treatment {
  padding-top: 140px;
}

.treatment_info {
  padding: 50px;
  background-color: #177D92;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .treatment_info {
    display: block;
    text-align: center;
    padding: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .treatment_info {
    display: block;
    text-align: center;
    padding: 20px;
  }
}

.treatment_description {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 35px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .treatment_description {
    font-size: 1.8rem;
  }
}

.treatment_phone {
  padding: 0 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .treatment_phone {
    padding-top: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .treatment_phone {
    padding-top: 40px;
  }
}

.treatment_phone_link {
  font-size: 1.6rem;
  padding: 10px 20px;
  color: #177D92;
  background-color: #FFFFFF;
}

.advantages {
  padding-top: 140px;
  padding-bottom: 120px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

.advantages_header {
  padding-left: 40px;
  border-left: 2px solid #177D92;
}

.advantages_title {
  font-weight: 500;
  font-size: 3.6rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #177D92;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages_title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages_title {
    font-size: 2rem;
  }
}

.advantages_description {
  padding-top: 10px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #5E5E5E;
}

.advantages_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.advantages_item {
  padding-top: 60px;
  width: -webkit-calc(100%/3);
  width: calc(100%/3);
  padding-right: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages_item {
    width: -webkit-calc(100%/2);
    width: calc(100%/2);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages_item {
    width: 100%;
    padding-right: 0;
  }
}

.advantages_item_title {
  padding-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #177D92;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages_item_title {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages_item_title {
    font-size: 1.8rem;
  }
}

.advantages_item_descr {
  border-top: 2px solid #177D92;
  padding-top: 20px;
  text-align: justify;
  font-weight: normal;
  font-size: 1.6rem;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #5E5E5E;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages_item_descr {
    font-size: 1.4rem;
  }
}

.treating {
  background-color: #2B3436;
}

.treating_inner {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .treating_inner {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .treating_inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.treating_title {
  font-style: normal;
  font-weight: 500;
  font-size: 3.6rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .treating_title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .treating_title {
    font-size: 2rem;
  }
}

.treating_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .treating_list {
    margin-top: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .treating_list {
    margin-top: 40px;
  }
}

.treating_item {
  width: -webkit-calc(100%/3);
  width: calc(100%/3);
  padding-top: 60px;
  padding-right: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .treating_item {
    padding-top: 50px;
    width: -webkit-calc(100%/2);
    width: calc(100%/2);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .treating_item {
    padding-top: 40px;
    width: 100%;
    padding-right: 0;
    text-align: justify;
  }
}

.treating_item_title {
  padding-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .treating_item_title {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .treating_item_title {
    font-size: 1.8rem;
  }
}

.treating_item_descr {
  padding-top: 20px;
  border-top: 2px solid #CCCCCC;
  font-weight: normal;
  font-size: 1.6rem;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #CCCCCC;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .treating_item_descr {
    padding-top: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .treating_item_descr {
    padding-top: 12px;
    font-size: 1.4rem;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 68px;
  background-color: #FFFFFF;
}

.header_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 30px;
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .header_inner {
    padding: 0 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    margin: 0 auto;
  }
}

.nav_burger {
  position: relative;
  cursor: pointer;
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: #5E5E5E;
  display: none;
}

.nav_burger::after, .nav_burger::before {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 20%;
  background-color: #FFFFFF;
}

.nav_burger::after {
  top: 20%;
}

.nav_burger::before {
  bottom: 20%;
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .nav_burger {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav_burger {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav_burger {
    display: block;
  }
}

.nav_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 68px;
  height: 100%;
}

.nav_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav_list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
  }
  #burger:checked ~ .nav_wrapper .nav_list {
    display: block;
  }
}

.nav_item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 14px;
  height: 100%;
  line-height: 68px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav_item {
    padding: 0 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav_item {
    display: block;
  }
}

.nav_item label {
  display: block;
}

.nav_link {
  cursor: pointer;
  color: #5E5E5E;
  padding-left: 20px;
  white-space: nowrap;
  height: 100%;
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav_link {
    font-size: 1.1rem;
    padding-left: 15px;
  }
}

.arrow {
  height: 100%;
  width: 20px;
  line-height: 68px;
  font-size: 1.3rem;
  display: inline-block;
  text-align: center;
  color: #5E5E5E;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav_item:hover .arrow_transform_180,
.nav_item:checked .arrow_transform_180 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #177D92;
}

.nav_item:hover .nav_link,
.search_box i:hover {
  color: #177D92;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 20px;
  background-color: #FFFFFF;
  line-height: 30px;
  -webkit-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .dropdown_menu {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  #addiction:checked ~ .dropdown_menu,
  #treatment:checked ~ .dropdown_menu,
  #facilities:checked ~ .dropdown_menu,
  .nav_link:target ~ .dropdown_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    position: relative;
    visibility: visible;
    opacity: 1;
  }
}

.dropdown_item {
  padding: 0 22px;
  white-space: nowrap;
  height: 30px;
}

.dropdown_item:hover .dropdown_link {
  color: #177D92;
}

.dropdown_link {
  color: #5E5E5E;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
}

.nav_item:hover .dropdown_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav_find {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 1.4rem;
  color: #5E5E5E;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav_find {
    font-size: 2.2rem;
  }
}

.input_form {
  position: relative;
  z-index: 10;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  height: 45px;
  width: 550px;
  outline: none;
  padding: 0 30px;
  overflow: hidden;
  font-size: 16px;
  border: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .input_form {
    top: 150px;
    width: 80%;
    right: -webkit-calc(50% - 80%/2);
    right: calc(50% - 80%/2);
  }
}

#find:checked ~ .find_wrapper {
  display: block;
}

.find_wrapper {
  display: none;
  position: absolute;
  top: 300px;
  right: -webkit-calc(50% - 550px/2);
  right: calc(50% - 550px/2);
}

.find_wrapper::after {
  z-index: 5;
  content: '';
  position: fixed;
  top: 68px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.button_search {
  z-index: 10;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
}

.phone {
  padding: 0 35px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .phone {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .phone {
    display: none;
  }
}

.phone_link {
  font-size: 1.6rem;
  padding: 10px 20px;
  color: #FFFFFF;
  background-color: #177D92;
}

.footer {
  background-color: #1A1A1A;
}

.footer_inner {
  padding-top: 120px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer_inner {
    display: block;
    padding-top: 100px;
    padding-bottom: 75px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer_inner {
    display: block;
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.footer_description {
  width: 60%;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 168.3%;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer_description {
    padding-top: 30px;
    width: 100%;
    text-align: justify;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer_description {
    padding-top: 40px;
    width: 100%;
    text-align: justify;
  }
}
