@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap");

*,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.contact {
  font-size: 20px;
}

@media screen and (min-width: 600px) and (max-width: 939px) {
  .contact {
    font-size: 30px;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.section_header,
.section_content {
  width: 940px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) and (max-width: 939px) {

  .section_header,
  .section_content {
    max-width: 940px;
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {

  .section_header,
  .section_content {
    max-width: 599px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }
}

.section_header {
  padding-top: 60px;
}

@media screen and (min-width: 600px) and (max-width: 939px) {
  .section_header {
    padding-top: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .section_header {
    padding-top: 30px;
  }
}

.header {
  background-color: #2D303A;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .header {
    height: 90px;
  }
}

.header_inner {
  width: 940px;
  height: 95px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 600px) and (max-width: 939px) {
  .header_inner {
    width: 100%;
    max-width: 940px;
    overflow: hidden;
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .header_inner {
    width: 100%;
    max-width: 599px;
    overflow: hidden;
    display: block;
  }
}

@media screen and (min-width: 600px) and (max-width: 939px) {
  .logo {
    text-align: center;
    margin: 15px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .logo {
    text-align: center;
    margin: 15px 0;
  }
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .nav_list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.nav_item {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .nav_item {
    font-size: 0.7rem;
  }
}

.nav_link {
  color: #ffffff;
  text-decoration: none;
}

.nav_item+.nav_item {
  margin-left: 32px;
  position: relative;
}

.active {
  color: #F06C64;
}

.nav_item+.nav_item::before {
  position: absolute;
  top: 5px;
  left: -17px;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #BBBBBB;
}

@media screen and (min-width: 600px) and (max-width: 939px) {
  .nav_item+.nav_item::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .nav_item+.nav_item::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -20px;
  }
}

.nav_link:hover {
  color: #F06C64;
  opacity: 0.6;
}

.nav_list {
  list-style-type: none;
}

@media screen and (min-width: 600px) and (max-width: 939px) {
  .nav_list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.services {
  background-color: #F2F2F2;
}

.services_title {
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.6rem;
  color: #666D89;
  text-transform: capitalize;
  margin-bottom: 1.915%;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .services_title {
    text-align: center;
  }
}

.services_descr {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: justify;
  color: #767E9E;
}

.services_list {
  padding: 52px 0 52px 0;
}

.services_item {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  text-align: left;
  padding-bottom: 20px;
  padding-right: 2.127%;
}

@media screen and (min-width: 600px) and (max-width: 939px) {
  .services_item {
    display: inline-block;
    width: 49%;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .services_item {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    padding-bottom: 15px;
  }
}

.item_services_title {
  padding-bottom: 1.063%;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #666D89;
  text-transform: capitalize;
}

@media screen and (min-width: 600px) and (max-width: 939px) {
  .item_services_title {
    padding-bottom: 6px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .item_services_title {
    text-align: center;
    padding-bottom: 6px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .services_title {
    font-size: 2.7rem;
    padding-bottom: 6px;
  }
}

.item_services_text {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #767E9E;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .item_services_text {
    font-size: 1.5rem;
  }
}

.portfolio {
  background-color: #2D303A;
}

.portfolio_title {
  padding-bottom: 1.49%;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.6rem;
  color: #666D89;
  text-transform: capitalize;
}

.portfolio_descr {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: justify;
  color: #767E9E;
  margin-bottom: 1.17%;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .portfolio_descr {
    text-align: justify;
    line-height: 2.5rem;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .portfolio_nav {
    display: none;
  }
}

.portfolio_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.915%;
}

.portfolio_btn {
  border: 1px solid #767E9E;
  border-radius: 5px;
  line-height: 1.5;
  background-color: #2D303A;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  text-transform: capitalize;
  color: #767E9E;
}

.portfolio_btn:hover {
  border: 1px solid #BBBBBB;
}

.portfolio_active {
  border: 1px solid #BBBBBB;
  color: #DEDEDE;
}

.portfolio_photo {
  padding-bottom: 7.873%;
  margin-left: -20px;
  font-size: 0;
  overflow: hidden;
}

@media screen and (min-width: 600px) and (max-width: 939px) {
  .portfolio_photo {
    margin-left: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .portfolio_photo {
    margin: 0 auto;
  }
}

.photo_list,
.portfolio_list {
  list-style-type: none;
}

.photo_item {
  float: left;
  font-size: 1.6rem;
  margin-left: 2.084%;
  margin-bottom: 12px;
}

@media screen and (min-width: 600px) and (max-width: 939px) {
  .photo_item {
    min-width: 48%;
    margin-left: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 0 16px 16px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .photo_item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 600px) and (max-width: 939px) {
  .photo_img {
    min-width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .photo_img {
    min-width: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */