
.services_title {
   font-weight: 900;
   font-size: 3rem;
   line-height: 3.6rem;
   color: #666D89;
   text-transform: capitalize;
   margin-bottom: 1.915%;

   @include respond-to(mobile){
      text-align: center;
   }
}

.services_descr {
   font-weight: 300;
   font-size: 1.8rem;
   line-height: 3rem;
   text-align: justify;
   color: #767E9E;
}

