
.services_list {
   padding: 52px 0 52px 0;
}

.services_item {
   display: inline-block;
   vertical-align: top;
   width: 33%;
   text-align: left;
   padding-bottom: 20px;
   padding-right: 2.127%;

   @include respond-to(tablet){
      
         display: inline-block;
         width: 49%;  
   }

   @include respond-to(mobile){    
      width: 90%;
      margin: 0 auto;
      text-align: justify;
      padding-bottom: 15px;   
   }  
}


.item_services_title {
   padding-bottom: 1.063%;
   font-weight: 900;
   font-size: 1.8rem;
   line-height: 1.8rem;
   color: $color05;
   text-transform: capitalize;

   @include respond-to(tablet){     
         padding-bottom: 6px;      
   }
   
   @include respond-to(mobile){   
      text-align: center;   
      padding-bottom: 6px;    
   }  
}

.services_title {
      @include respond-to(mobile){    
         font-size: 2.7rem;  
         padding-bottom: 6px;  
   }        
}

.item_services_text {
   font-weight: normal;
   font-size: 1.2rem;
   line-height: 2.2rem;
   color: $color06;

   @include respond-to(mobile){    
      font-size: 1.5rem;
   }  
}

