
.portfolio_title {
   padding-bottom: 1.49%;
   font-weight: 900;
   font-size: 3rem;
   line-height: 3.6rem;
   color: $color05;
   text-transform: capitalize;
}

.portfolio_descr {
   font-weight: 300;
   font-size: 1.8rem;
   line-height: 3rem;
   text-align: justify;
   color: $color06;
   margin-bottom: 1.17%;

   @include respond-to(mobile){
      text-align: justify;
      line-height: 2.5rem;
      margin-bottom: 20px;
   }
}