.portfolio_nav {
   @include respond-to(mobile){  
      display: none;
   }   
}

.portfolio_list {
   display: flex;
   margin-bottom: 1.915%;
}

.portfolio_btn {
   border: 1px solid $color06;
   border-radius: 5px;
   line-height: 1.5;
   background-color: $color07;
   padding: 5px;
   margin-right: 10px;
   cursor: pointer;
   font-weight: normal;
   font-size: 1.2rem;
   line-height: 1.2rem;
   text-align: center;
   text-transform: capitalize;
   color: $color06;
}

.portfolio_btn:hover {
   border: 1px solid $color03
}

.portfolio_active {
   border: 1px solid $color03;
   color: $color08;
}

.portfolio_photo {
   padding-bottom: 7.873%;
   margin-left: -20px;
   font-size: 0;
   overflow: hidden;

   @include respond-to(tablet){  
         margin-left: 0;  
   }

   @include respond-to(mobile){  
      margin: 0 auto;  
   }
}

.photo_list,
.portfolio_list {
   list-style-type: none;
}

.photo_item {
   float: left;
   font-size: 1.6rem;
   margin-left: 2.084%;
   margin-bottom: 12px;

   @include respond-to(tablet){     
         min-width: 48%;
         margin-left: 0;
         margin-bottom: 0;
         text-align: center;
         padding: 0 16px 16px 0;     
   }

   @include respond-to(mobile){     
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
      text-align: center;    
   }
}

.photo_img {
   @include respond-to(tablet) {
      min-width: 100%;
   }
   @include respond-to(mobile) {
      min-width: 80%;
   }
   
}