html {
   font-size: 62.5%;
}

body {
   font-family: $main-fonts;
   font-style: normal;
}

.section_header,
.section_content {
   width: 940px;
   margin: 0 auto;

   @include respond-to(tablet) {
      max-width: 940px;
      width: 90%;
      margin: 0 auto;
   }

   @include respond-to(mobile) {
      max-width: 599px;
      width: 85%;
      margin: 0 auto;
      text-align: center;
   }
}

.section_header {

   padding-top: 60px;
   @include respond-to(tablet){
      padding-top: 50px;
   }

   @include respond-to(mobile){      
      padding-top: 30px;
   }  
}

