//POSITION

@mixin position($pos:relative, $top: auto, $left: auto) {
   position: $pos;

   @if $top == auto {
      top: $top;  
   } @else {
      top: $top+px;
   }

   @if $left == auto {
      left: $left;  
   } @else {
      left: $left+px;
   }
}

//MEDIA

@mixin respond-to($size)  {

   @if $size == mobile {
      @media screen and (min-width: $mobile-min) and (max-width: $mobile-max - 1) {
            @content
      }
   } 
   @if $size == tablet {
      @media screen and (min-width: $tablet-min) and (max-width: $tablet-max - 1) {
            @content
      }
   }  
}

.contact {
    font-size:20px;
    @include respond-to(tablet) {
        font-size:30px;
    }
}


