// FONTS

$main-fonts:'Lato', sans-serif;


// COLORS

$color01:#ffffff; // link 

$color02: #F06C64; // active link 

$color03:#BBBBBB; // before element (dot), portfolio btn hover, portfolio btn active

$color04:#F2F2F2; // services bg

$color05: #666D89; // title services, title portfolio

$color06: #767E9E; // text services, portfolio btn border, portfolio btn

$color07: #2D303A; // portfolio bg,  portfolio btn bg

$color08: #DEDEDE; // portfolio_active color

// RESPONSE

$mobile-min: 320px;

$mobile-max: 600px;

$tablet-min: 600px;

$tablet-max: 940px;




